
<div class="container mt-3">
  <h2>Aprendiz sena</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">PRUEBA</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/servicios">Servicios</a></li>
        <li><a class="dropdown-item" href="/productos">Productos</a></li>
        <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
      </ul>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Clientes</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/clientes">LISTAR</a></li>
        <li><a class="dropdown-item" href="/formulario">CREAR</a></li>
        
       
      </ul>
    </li>
  
  </ul>
</div>
