<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container mt-3">
  <h2>Crear Cliente</h2>
  <form action="/clientes" method="POST">
    <div class="mb-3 mt-3">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Digite nombre" name="nombre">
    </div>
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Digite email" name="email">
    </div>
    <div class="mb-3 mt-3">
      <label for="tel">Tel:</label>
      <input type="number" class="form-control" id="tel" placeholder="Digite telefono" name="telefono">
    </div>
    
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Recordarme Siempre
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

    

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>